.h2:not(:first-child) {
  margin-top: 20px;
}

.box:not(:last-child) {
  margin-right: 10px;
}

.box:hover {
  color: red;
}

.body {
  margin: 20px 0;
}

.body .p:not(:first-child) {
  margin-top: 20px;
}

.ul {
  list-style-type: none;
  margin: 0;
}

.listSplitter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
