.container {
  text-align: center;
  display: grid;
  flex: 1;
  grid-template-columns: 1200px;
}

.day {
  letter-spacing: -5px;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.day:not(:first-child) {
  padding-top: 35px;
}

.headliner span {
  font-size: 1.5rem;
  cursor: pointer;
}

.headliner span:not(:first-child)::before {
  content: ' ';
}

.headliner span:hover {
  color: yellow;
}

.subliner span {
  font-size: 1.3rem;
  cursor: pointer;
}

.subliner span:not(:first-child)::before {
  content: ' • ';
}

.subliner span:hover {
  color: rgb(59, 131, 224);
}

.thursday span,
.friday span,
.saturday span,
.sunday span,
.who span {
  cursor: pointer;
}

.thursday span:not(:first-child)::before,
.friday span:not(:first-child)::before,
.saturday span:not(:first-child)::before,
.sunday span:not(:first-child)::before,
.who span:not(:first-child)::before {
  content: ' • ';
}

.thursday span:nth-child(even) {
  color: yellow;
}

.thursday span:nth-child(odd) {
  color: rgb(215, 88, 231);
}

.thursday span:hover {
  color: rgb(255, 155, 41);
}

.friday span:nth-child(even) {
  color: rgb(88, 226, 111);
}

.friday span:nth-child(odd) {
  color: rgb(59, 131, 224);
}

.friday span:hover {
  color: rgb(215, 88, 231);
}

.saturday span:nth-child(even) {
  color: rgb(215, 88, 231);
}

.saturday span:nth-child(odd) {
  color: rgb(88, 226, 111);
}

.saturday span:hover {
  color: rgb(255, 155, 41);
}

.sunday span:nth-child(even) {
  color: rgb(255, 155, 41);
}

.sunday span:nth-child(odd) {
  color: rgb(88, 226, 111);
}

.sunday span:hover {
  color: yellow;
}

.who span:nth-child(even) {
  color: rgb(255, 155, 41);
}

.who span:nth-child(odd) {
  color: yellow;
}

.who span:hover {
  color: rgb(59, 131, 224);
}

.blue {
  color: rgb(59, 131, 224);
}

.green {
  color: rgb(88, 226, 111);
}

.pink {
  color: rgb(215, 88, 231);
}

.orange {
  color: rgb(255, 155, 41);
}

.yellow {
  color: yellow;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 600px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 500px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 440px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    grid-template-columns: 380px;
  }
}
