.container {
  background-color: black;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  height: 100%;
}

.day {
  letter-spacing: -5px;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.day:not(:first-child) {
  padding-top: 35px;
}

.headliner a {
  font-size: 1.5rem;
  transition: font-size 0.2s linear;
}

.headliner a:not(:first-child)::before {
  content: ' ';
}

.subliner a {
  font-size: 1.3rem;
}

.subliner a:not(:first-child)::before {
  content: ' • ';
}

.unliner a:not(:first-child)::before {
  content: ' • ';
}

.unliner a:nth-child(even) {
  color: white;
}

.unliner a:nth-child(even):hover {
  color: red;
}

.blue {
  color: rgb(59, 131, 224);
}

.green {
  color: rgb(88, 226, 111);
}

.pink {
  color: rgb(215, 88, 231);
}

.orange {
  color: rgb(255, 155, 41);
}

.yellow {
  color: yellow;
}
