.h1 {
  text-shadow: 0px 0px 10px;
}

.h2:not(:first-child) {
  margin-top: 20px;
}

.box:not(:last-child) {
  margin-right: 10px;
}

.box:hover {
  color: red;
}

.body {
  margin: 20px 0;
}

.body .p:not(:first-child) {
  margin-top: 20px;
}

.bio {
  white-space: pre-line;
}

.table {
  width: 100%;
}

.table tbody tr td {
  height: 10px;
  color: white;
  padding: 5px 25px;
}
