/* having to use pixels because it's the only way I've
found so far to force longstringswithoutwhitespacecharacters
(which users can submit in their Bio/Comments unfortunately)
to NOT expand the size of my grid columns */

.grid {
  display: grid;
  flex: 1;
  grid-template-columns: 500px 700px;
}

/* ipad pro */
@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 768px;
  }
}

/* ipad */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 768px;
  }
}

@media screen and (max-width: 740px) {
  .grid {
    grid-template-columns: 540px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 500px;
  }
}

/* surface duo */
@media screen and (max-width: 540px) {
  .grid {
    grid-template-columns: 540px;
  }
}

@media screen and (max-width: 520px) {
  .grid {
    grid-template-columns: 440px;
  }
}

/* iphone 6/7/8 plus */
@media screen and (max-width: 414px) {
  .grid {
    grid-template-columns: 414px;
  }
}

/* pixel 2 */
@media screen and (max-width: 411px) {
  .grid {
    grid-template-columns: 411px;
  }
}

/* iphone 6/7/8/X */
@media screen and (max-width: 375px) {
  .grid {
    grid-template-columns: 375px;
  }
}

/* galaxy s5 */
@media screen and (max-width: 360px) {
  .grid {
    grid-template-columns: 360px;
  }
}

@media screen and (max-width: 340px) {
  .grid {
    grid-template-columns: 320px;
  }
}

/* iphone 5 */
@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 300px) {
  .grid {
    grid-template-columns: 280px;
  }
}

/* galaxy fold */
@media screen and (max-width: 280px) {
  .grid {
    grid-template-columns: 280px;
  }
}
