/* having to use pixels because it's the only way I've
found so far to force longstringswithoutwhitespacecharacters
(which users can submit in their Bio/Comments unfortunately)
to NOT expand the size of my grid columns */

.grid {
  display: grid;
  flex: 1;
  grid-template-columns: 500px 700px;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 600px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 500px;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 440px;
  }
}

@media screen and (max-width: 420px) {
  .grid {
    grid-template-columns: 395px;
  }
}

@media screen and (max-width: 360px) {
  .grid {
    grid-template-columns: 340px;
  }
}

@media screen and (max-width: 340px) {
  .grid {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 315px;
  }
}

@media screen and (max-width: 300px) {
  .grid {
    grid-template-columns: 280px;
  }
}
