.header {
  background-color: black;
  position: fixed;
  top: 0;
  padding: 8px 0;
  width: 800px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
  letter-spacing: -4px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul {
  list-style-type: none;
  margin: 0;
}

.ul li {
  display: inline;
  padding: 0 10px;
}

/* galaxy fold, so small */
@media screen and (min-width: 280px) {
  .header {
    top: 0;
    padding: 8px 8px;
  }
  .nav {
    font-size: 1.8rem;
  }
  .ul li {
    display: inline;
    padding: 0 5px;
  }
}

/* iPhone5, very small screen */
@media screen and (min-width: 320px) {
  .header {
    top: 0;
    padding: 8px 8px;
  }
  .nav {
    font-size: 2rem;
  }
  .ul li {
    display: inline;
    padding: 0 7px;
  }
}

/* at this size we have to ditch the logo */
@media screen and (max-width: 480px) {
  .navLogo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 87%;
  }
}
