.h2:not(:first-child) {
  margin-top: 20px;
}

.body {
  margin: 20px 0;
}

.bioBody {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.body .p:not(:first-child) {
  margin-top: 20px;
}

.table {
  background-color: rgba(255, 0, 242, 0.2);
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 25px;
  width: 80%;
}

.table th {
  padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .table {
    width: 95%;
  }
}
