.bioTable {
  background-color: rgba(255, 0, 242, 0.2);
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 25px;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .bioTable {
    width: 95%;
  }
}
