.h2:not(:first-child) {
  margin-top: 20px;
}

.body {
  margin: 20px 0;
}

.bioBody {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}

.body .p:not(:first-child) {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
  width: 100%;
}
