.body {
  margin: 20px 0;
}

.body .p:not(:first-child) {
  margin-top: 20px;
}

.control input,
.control textarea {
  background-color: #eee;
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  resize: none;
}

.control input.controlError,
.control textarea.controlError {
  background-color: rgb(250, 158, 158);
  border: 2px solid red;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.comments {
  padding: 5px;
}

.comment {
  border-bottom: 1px solid white;
  border-radius: 10px;
  margin-top: 18px;
  padding: 8px;
}

.commentBody {
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  text-overflow: ellipsis;
}

.commentAuthor {
  text-align: right;
}

.commentAuthor:before {
  content: 'posted by ';
  font-size: 0.7rem;
}

.commentTimestamp {
  font-size: 0.8rem;
}

.btn {
  background-color: rgb(255, 155, 41);
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  transition: transform 0.1s linear;
  font: inherit;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.98);
}

.error {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 15px 0;
}
