.container {
  display: grid;
  grid-template-columns: 300px 500px;
}

.h2:not(:first-child) {
  margin-top: 20px;
}

.body {
  margin: 20px 0;
}

@media screen and (max-width: 820px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
