.comments {
  padding: 5px;
}

.comment {
  border-radius: 15px;
  margin-top: 18px;
  background-color: rgba(255, 0, 242, 0.2);
  padding: 0 18px 15px 18px;
}

.commentBody {
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  text-overflow: ellipsis;
}

@media screen and (max-width: 420px) {
  .comment {
    padding: 0;
  }
  p.commentBody {
    margin: 2px;
  }
}

.commentAuthor {
  text-align: right;
}

.commentAuthor:before {
  content: 'posted by ';
  font-size: 0.7rem;
}

.commentTimestamp {
  font-size: 0.8rem;
}

.btn {
  background-color: rgb(255, 155, 41);
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  transition: 0.1s linear;
  font: inherit;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.98);
}
