.form {
  padding: 1rem;
  width: 400px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.control input.controlError {
  background-color: rgb(250, 158, 158);
  border: 2px solid red;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.error {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 15px 0;
}
