.grid {
  background-color: black;
  padding: 85px 50px;
  width: 75%;
  display: grid;
  grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1350px) {
  .grid {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  .grid {
    width: 100%;
  }
}

@media screen and (max-width: 1001px) {
  .grid {
    padding: 85px 20px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 100%;
  }
}

.box:not(:last-child) {
  margin-right: 10px;
}

.box:hover {
  color: red;
}

.p {
  margin: 20px 0;
}

.genres {
  margin: 10px 0;
  text-align: right;
}

.genre:not(:first-child)::before {
  content: ' • ';
}
