.box:not(:last-child) {
  margin-right: 10px;
}

.box:hover {
  color: red;
}

.p {
  margin: 20px 0;
}

.genres {
  margin: 10px 0;
  text-align: right;
}

.genre:not(:first-child)::before {
  content: ' • ';
}

.listSplitter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 25px 0;
}

@media screen and (max-width: 1200px) {
  .hider {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .listSplitter {
    gap: 100px;
  }
}

@media screen and (max-width: 500px) {
  .listSplitter {
    gap: 40px;
  }
}

@media screen and (max-width: 420px) {
  .listSplitter {
    gap: 0px;
  }
}
