@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* global styles */

body {
  background-image: linear-gradient(
    to bottom left,
    black,
    black,
    black,
    black,
    black,
    rgb(215, 88, 231),
    rgb(255, 155, 41),
    rgb(211, 252, 31)
  );
  background-attachment: fixed;
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* disable horizontal scroll */
}

a {
  color: rgb(211, 252, 31);
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition: width 0.15s linear;
}

a:hover:after {
  content: '';
  width: 100%;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
